.main {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  height: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.error {
  color: red;
}

a {
  color: black;
  text-decoration: none;
}
